<div id="node-container" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Nodes</h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>ID</th>
                                    	<th>Name</th>
                                    	<th>Type</th>
                                        <th>Status</th>
                                    </thead>
                                    <tbody>
                                    {% for node in nodes %}
                                        <tr>
                                        	<td>{{node.id}}</td>
                                        	<td>{{node.name}}</td>
                                        	<td>{{node.type}}</td>
                                            <td>{{node.status}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>